@font-face {
  font-family: "lato";
  src: url("../assets/fonts/Lato-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "lato-light";
  src: url("../assets/fonts/Lato-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "lato-black";
  src: url("../assets/fonts/Lato-Black.ttf");
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src: url("../assets/fonts/Montserrat-VF.ttf");
  font-display: swap;
}



.nk-font--montserrat {
  font-family: montserrat, sans-serif;
}

.nk-font--light {
  font-family: lato-light, sans-serif;
}

.nk-font--regular {
  font-family: lato, sans-serif;
}

.nk-font--bold {
  font-family: "lato-black", sans-serif;
}

.nk-text--small {
  font-size: 0.9em;
}

.nk-text--large {
  font-size: 1.2em;
}

.nk-text--huge {
  font-size: 3em;
}

.text {
  font-size: 16px;
}
