<div class="nk-toolbar nk-nav__button nk-flex nk-flex--column nk-align-items--center">
  <button class="nk-button nk-button--icon  nk-js--nav-open">
    <svg class="nk-icon" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50">
      <title>Menu</title>
      <path
        d="M7.061 10.688c11.654-1.822 23.457.164 35.166-1 2.968-.295 4.698-3.943.701-3.546-11.712 1.164-23.49-.825-35.166 1-2.901.453-4.682 4.169-.701 3.546zM6.106 25.999c7.635.141 15.129-1.374 22.745-1.534 4.658-.098 9.73.559 14.279-.81 1.131-.34 2.521-.994 2.476-2.351l-.006-.165c-.044-1.313-2.486-1.266-4.187-.429-4.141.949-8.845.097-13.016.319-6.713.358-13.358 1.592-20.096 1.467-2.32-.042-6.122 3.43-2.195 3.503zM41.549 37.726c-4.651 2.286-10.269 2.103-15.327 1.842-6.049-.312-12.073-.74-18.052-1.742-2.831-.474-5.9 3.527-2.016 4.178 7.162 1.199 14.527 1.806 21.791 1.88 5.508.057 11.144-.314 16.161-2.78 3.558-1.75.37-4.817-2.557-3.378z">
      </path>
    </svg>
  </button>
  <a href="@@webRoot/#top">
    <img width="24" src="https://raw.githubusercontent.com/nabaroa/nak-scaffold/master/docs/assets/img/nakDS.png"
      alt="Home">
  </a>
</div>
<div class="nk-drawer nk-js--nav nk-pan">
  <nav id="nk-nav" class="">
    <ul class="nk-pax">
      <li><a href="@@webRoot/#principles">Principles</a></li>
      <li><a href="@@webRoot/#accesibility">Accesibility</a></li>
    </ul>
    <ul class="nk-grid nk-grid-3@md nk-list">
      <!-- <li class="nk-bg--k-10">How to use it
        <ul>
          <li><a hre@@webRoot/utilities/instalation">Getting Started</a></li>
        </ul>
      </li> -->
      <li class="nk-pax nk-grid nk-grid-2">
        <div>
          <a href="@@webRoot/tokens/#tokens">
            <span class="nk-heading--3">Tokens</span>
          </a>
          <ul>
            <li><a href="@@webRoot/tokens/#color">Color</a></li>
            <li><a href="@@webRoot/tokens/#sizing">Sizing</a></li>
          </ul>
        </div>
      </li>
      <li class="nk-pax">
        <a href="@@webRoot/layout/#layout">
          <span class="nk-heading--3">Layout</span>
        </a>
        <ul>
          <li><a href="@@webRoot/layout/#patterns">Patterns</a></li>
          <li><a href="@@webRoot/layout/#container">Container</a></li>
          <li><a href="@@webRoot/layout/#flex">Flex</a></li>
          <li><a href="@@webRoot/layout/#grid">Grid</a></li>
          <li><a href="@@webRoot/layout/#fullpage">Fullpage</a></li>
        </ul>
      </li>
      <li class="nk-pax">
        <a href="@@webRoot/components/#components">
          <span class="nk-heading--3">Components</span>
        </a>
        <ul class="nk-grid nk-grid-2">
          <li><a href="@@webRoot/components/#avatar">Avatar</a><span class="nk-text--small"></span></li>
          <li><a href="@@webRoot/components/#badge">Badge</a><span class="nk-text--small"></span></li>
          <li><a href="@@webRoot/components/#card">Card</a><span class="nk-text--small"></span></li>
          <li><a href="@@webRoot/components/#button">Button</a></li>
          <li><a href="@@webRoot/components/#cover">Cover</a></li>
          <li><a href="@@webRoot/components/#dimmer">Dimmer</a></li>
          <li><a href="@@webRoot/components/#drawer">Drawer</a></li>
          <li><a href="@@webRoot/components/#gallery">Gallery</a></li>
          <li><a href="@@webRoot/components/#heading">Headings</a></li>
          <li><a href="@@webRoot/components/#list">List</a></li>
          <li><a href="@@webRoot/components/#loader">Loader</a></li>
          <li><a href="@@webRoot/components/#menu">Menu</a></li>
          <li><a href="@@webRoot/components/#modal">Modal</a></li>
          <li><a href="@@webRoot/layout/#navigation">Navigation</a></li>
          <li><a href="@@webRoot/components/#timeline">Timeline</a></li>
          <li><a href="@@webRoot/components/#slider">Slider</a></li>
        </ul>
      </li>
      <li class="nk-pax">
        <a href="@@webRoot/styling/#styling">
          <span class="nk-heading--3">Styling</span>
        </a>
        <ul>
          <li><a href="@@webRoot/styling/#background">Background</a></li>
          <li><a href="@@webRoot/styling/#filters">Filters</a></li>
          <li><a href="@@webRoot/styling/#motion">Motion</a></li>
          <li><a href="@@webRoot/styling/#blend">Blend mode</a></li>
          <li><a href="@@webRoot/styling/#shapes">Shapes</a></li>
          <li><a href="@@webRoot/styling/#typograpy">Typography</a></li>
          <li><a href="@@webRoot/styling/#fonts">Variable fonts</a></li>
        </ul>
      </li>
      <li class="nk-pax">
        <a href="@@webRoot/assets/#assets">
          <span class="nk-heading--3">Assets</span>
        </a>
        <ul>
          <li><a href="@@webRoot/assets/#icons">Icons</a></li>
          <li><a href="@@webRoot/assets/#images">Images</a></li>
        </ul>
      </li>
      <li class="nk-pax">
        <a href="@@webRoot/utilities/#utilities">
          <span class="nk-heading--3">Utilities</span>
        </a>
        <ul>
          <li><a href="@@webRoot/utilities/#spacing">Spacing</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
<div class="nk-dimmer"></div>

<script>
  const buttonnavOpen = document.querySelector(".nk-js--nav-open");
  const navOpen = document.querySelector('.nk-js--nav');
  const dimmerOpen = document.querySelector('.nk-dimmer');
  buttonnavOpen.onclick = () =>
    navOpen.classList.toggle("nk-is-open") +
    dimmerOpen.classList.toggle("nk-is-open");
</script>