.nk-container {
  --container--content: 1100px;
  --container--text: 680px;
  --container--padding: calc(var(--spacer) * 2);

  @media (--medium) {
    --container--padding: calc(var(--spacer) * 5);
  }

  width: 100%;
  margin: auto;
  padding-left: var(--container--padding);
  padding-right: var(--container--padding);
}

.nk-container--content {
  max-width: var(--container--content);
}

.nk-container--text {
  max-width: var(--container--text);
}

/* TODO */
/* Fix section custom properties */

.nk-section {
  padding-top: var(--spacer-medium);
  padding-bottom: var(--spacer-medium);

  @media (--medium) {
    padding-top: var(--spacer-xlarge);
    padding-bottom: var(--spacer-xlarge);
  }
}
