/* TODO */
/* Better approach calc(var(--spacer) * 2) or var(--spacer-medium)? */

/* @import "../tokens/tokens--sizing.css"; */

/* Better naming for this */

.nk-layout--2col {
  height: 100vh;

  @media (--medium) {
    display: grid;
    grid-template-columns: 300px 1fr;
  }
}

.nk-layout--2col__sidebar {
  background: var(--color--k-6);
}
.nk-layout--2col__main {
  background: var(--color--k-8);
}

.nk-layout--3col {
  height: 100vh;

  @media (--medium) {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
  }
}

.nk-layout--3col__sidebar {
}

.nk-layout--3col__main {
}

.nk-layout--3col__aside {
}

.nk-layout--double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.nk-layout--double__item {
}

/* TODO: Is this approach good? It is a fullscreen option for an element inside the nk-container. Is it antipattern? */
.nk-fullscreen {
  width: calc(100% + var(--spacer) * 5 + var(--spacer) * 5);
  margin-left: calc(-1 * var(--spacer) * 5);
}
