/* TODO */
/* Better approach calc(var(--spacer) * 2) or var(--spacer-medium)? */
/* Better naming for this */

[class^="nk-layout--sidebar"] {
  --sidebar-width: 300px;
  --layout-height: 100vh;
}

.nk-layout--sidebar {
  height: var(--layout-height);
  display: grid;

  @media (--medium) {
    grid-template-columns: var(--sidebar-width) 1fr;
  }

  .nk-layout--sidebar__aside {
    order: 1;
  }
  .nk-layout--sidebar__main {
    order: 2;
  }
}

.nk-layout--sidebar-right {
  height: var(--layout-height);
  display: grid;

  @media (--medium) {
    grid-template-columns: 1fr var(--sidebar-width);
  }
}

.nk-layout--3col {
  height: var(--layout-height);

  @media (--medium) {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
  }
}

.nk-layout--3col__sidebar {
}

.nk-layout--3col__main {
}

.nk-layout--3col__aside {
}

.nk-layout--double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: var(--layout-height);
}

.nk-layout--double__item {
}

/* TODO: Is this approach good? It is a fullscreen option for an element inside the nk-container. Is it antipattern? */
.nk-fullscreen {
  width: calc(100% + var(--spacer) * 5 + var(--spacer) * 5);
  margin-left: calc(-1 * var(--spacer) * 5);
}
