[class*="nk-layout"] {
  --sidebar-width: 100vw;

  @media (--medium) {
    --sidebar-width: 18.75em; /* 300px */
    --layout-height: 100vh;
  }
}

.nk-layout,
[class*="nk-layout--"] {
  display: grid;
  height: var(--layout-height);
}

.nk-layout--sidebar {
  @media (--medium) {
    grid-template-columns: var(--sidebar-width) 1fr;
  }

  .nk-layout__aside {
    order: 1;
  }

  .nk-layout__main {
    order: 2;
  }
}

.nk-layout--sidebar-right {
  @media (--medium) {
    grid-template-columns: 1fr var(--sidebar-width);
  }

  @media (--medium--max) {
    .nk-layout__aside {
      order: 1;
    }

    .nk-layout__main {
      order: 2;
    }
  }
}

.nk-layout--sidebar-double {
  .nk-layout__aside {
    order: 1;
  }

  .nk-layout__aside:first-of-type {
    order: 3;
  }

  .nk-layout__main {
    order: 2;
  }

  @media (--medium) and (--large--max) {
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: 1fr;

    .nk-layout__aside:first-of-type {
      grid-column: span 2;
    }
  }

  @media (--large) {
    grid-template-columns: var(--sidebar-width) 1fr var(--sidebar-width);
  }
}

.nk-layout--double {
  
  @media (--medium) {
    grid-template-columns: 1fr 1fr;
  }
}
