/*---------------layout---------------*/

.nak-page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nak-site-header {
    position: fixed;
    top: 0;
    z-index: 8000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 6rem;

}

.nak-site-main {
    flex: 1 1 auto;
    margin-left: 15rem;
    min-height: 100vh;
}

.nak-site-navigation {}

.nak-site-navigation--fixed {
    position: fixed;
    top: 6rem;
    bottom: 0;
    padding-top: 0;
    width: 15rem;
    background: pink;
}

.nak-site-footer {}


.nak-site-content{
  min-height: calc(100vh - 6rem);

}
.nak-page-container {
    @apply --spacing-page;
}

.nak-row {
    display: flex;
}

.nak-row--center {
    display: flex;
    justify-content: center;
}

.nak-row--expanded {
    @apply --row--expanded;
}

.nak-row--centered {
    @apply --row--centered;
}

.nak-display--column {
    display: flex;
    flex-direction: column;
}
