.nk-avatar {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.nk-avatar--small {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.nk-avatar--large {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}



/* Sizes */

/* Filters */

/* Instagram */

/* Find blending on learnCSS material */
