.nk-avatar,
[class^="nk-avatar--"] {
  border-radius: 100%;
  object-fit: cover;
}

.nk-avatar,
.nk-avatar--medium {
  inline-size: 6em;
  block-size: 6em;
}

.nk-avatar--small {
  inline-size: 3em;
  block-size: 3em;
}

.nk-avatar--large {
  inline-size: 12em;
  block-size: 12em;
}

/* Sizes */

/* Filters */

/* Instagram */

/* Find blending on learnCSS material */
