.nk-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "lato";
  font-size: var(--button__font-size);
  color: var(--color);
  text-decoration: none !important;
  background: transparent;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid var(--color);
  padding: var(--small) var(--medium);

  &:hover {
    color: var(--color--k-9);
    background: var(--color);
    transition: 0.5s;
  }

  &:focus {
    outline: 0;
  }

  .nk-toolbar & {
    align-self: center;
  }
}

.nk-button--color {
  color: var(--color--k-9);
  background: var(--color);

  &:hover {
    background: var(--color--darker);
  }
}

.nk-button--disabled {
  color: var(--color--k-5);
  border: 1px solid var(--color--k-5);
  cursor: default;

  &:hover {
    background: var(--color-k-5);
  }
}

.nk-button--icon {
  border: 0;
  background: none;
  border-radius: 500rem;
  width: 48px;
  height: 48px;
  padding: var(--small);

  &:hover {
    & [class^="nk-icon"] {
      fill: white;
    }
  }
}
