.nk-drawer {
  position: fixed;
  width: 75vw;
  height: 100vh;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: var(--huge);
  background: var(--color--k-10);
  overflow-y: auto; 
  z-index: 3;
  transform: translateX(75vw);
  transition: 0.3s;

  &.nk-is-open {
    transform: translateX(0);
  }
}

.nk-drawer__header {
}

.nk-drawer__footer {
  margin-top: auto;
}

