
.nk-list {
  list-style: none;
  list-style-position: inside;

  ul {
    list-style: none;
  }
}

.nk-list--horizontal {
  list-style: none;
  list-style-position: inside;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}