.nk-menu,
[class*="nk-menu--"] {
  --menu-border-size: 1px;
  --menu-border-color: var(--color--k-8);
  --menu-color: var(--color--k-3);
  --menu-color--hover: var(--color--k-1);
  --menu-background-color: var(--color--k-10);
  --menu-background-color--hover: var(--color--k-8);
  --menu-padding: var(--large);

  list-style: none;
}

.nk-menu--row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (--small) {
    flex-direction: row;
  }
}

.nk-menu__item {
  flex: 1;
}

.nk-menu__link {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  border: var(--menu-border-size) var(--menu-border-color) solid;
  padding: calc(var(--menu-padding) / 2) var(--menu-padding);
  background: var(--menu-background-color);
  text-decoration: none;
  color: var(--menu-color);
  height: 100%;
  align-items: center;

  &:hover {
    background: var(--menu-background-color--hover);
    color: var(--menu-color--hover);
  }
}
