/* TODO Create the modal with grid? */
/* @import "../tokens/tokens--color.css"; */

.nk-modal {
  display: none;
  width: 100%;
  max-width: 500px;
  position: absolute;
  top: 50px;
  left: calc(50% - 250px);
  background: var(--color--k-10);
  pointer-events: all;

  &::before {
    content: "";
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  .nk-show-modal & {
    display: block;
  }
}

.nk-modal__header {
  display: flex;
  justify-content: flex-end;
  padding: var(--medium);
}

.nk-modal__image {
  max-height: 30vh;
  object-fit: cover;
  width: 100%;
}

.nk-modal__body {
  padding: var(--medium) var(--large);
}

.nk-modal__footer {
  display: flex;
  justify-content: flex-end;
  padding: 0 var(--medium) var(--medium);
  column-gap: var(--medium);
}

.nk-show-modal {
  pointer-events: none;
  overflow: hidden;
}
