
.nk-slider {
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  display: grid;
  grid-auto-flow: column;
}

.nk-slide {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.nk-slide__container {
  width: 90vw;

  @media (--small) {
    width: 800px;
  }
}
