.nk-timeline {
  position: relative;
  padding-left: var(--xx-large);
  padding-right: var(--xx-large);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: var(--large);
    width: 1px;
    height: 100%;
    border-left: 1px dashed var(--color--k-4);
    opacity: 0.3;
  }
}

.nk-timeline__item {
  position: relative;
  padding-left: var(--x-large);
  margin-bottom: var(--large);

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 24px;
    width: 16px;
    height: 16px;
    background: var(--color--k-4);
    border-radius: 50%;
    opacity: 0.5;
  }
}

.nk-timeline__date {
  color: var(--color--k-5);
  font-size: var(--font-size--medium);
}

.nk-timeline__title {
  font-size: var(--font-size--x-large);
}

.nk-timeline__assets {
  display: flex;
  align-items: center;
  gap: var(--small);
  list-style: none;
  margin-top: var(--medium);
}

.nk-timeline__icon {
  width: var(--large);
}