/* @import "../tokens/tokens--spacer.css"; */

.nk-toolbar {
  display: flex;
  padding: 0 var(--medium); 
  overflow: hidden;

  @media (--medium) {
    padding: 0 var(--large);
  }
}

.nk-toolbar__item--right {
  margin-left: auto;
  margin-right: 2em;
}