/* @import "../tokens/tokens--spacer.css"; */

.nk-toolbar {
  display: flex;
  padding: 0 calc(var(--spacer) * 2); 
  overflow: hidden;

  @media (--medium) {
    padding: 0 calc(var(--spacer) * 5);
  }
}

.nk-toolbar__item--right {
  margin-left: auto;
}