@import "../variables/core-utils";

/*---------------sizing---------------*/

.nk-size--inherit {
  width: inherit !important;
}

.nk-size--1-of-1 {
  width: 100%;
}

.nk-size--1-of-2 {
  width: 50%;
}

.nk-size--1-of-3 {
  width: 33.3333333333%;
}

.nk-size--2-of-3 {
  width: 66.6666666667%;
}

.nk-size--3-of-3 {
  width: 100%;
}

.nk-size--1-of-4 {
  width: 25%;
}

.nk-size--2-of-4 {
  width: 50%;
}

.nk-size--3-of-4 {
  width: 75%;
}


/*.nk-grid--has-spaces{
.nk-size--1-of-2 + .nk-size--1-of-2{
  margin-left: var(--large);
}}*/

.nk-size {
  width: var(--xx-large) !important;
}

.nk-size--xlarge {
  width: var(--x-large) !important;
}

.nk-size-mobile--full {
  @media (--small-viewport) {
    width: 100%;
  }
}

.nk-size--stacable {
  @media (--small-viewport) {
    width: 100%;

    &.nk-size--1-of-2 {
      margin-left: 0;
    }
  }
}


/* small viewport*/

@media (--small-viewport) {

  .nk-small-size--1-of-1 {
    width: 100% !important;
  }

  .nk-small-size--1-of-2 {
    width: 50%;
  }

  .nk-small-size--1-of-3 {
    width: 33.3333333333%;
  }

  .nk-small-size--2-of-3 {
    width: 66.6666666667%;
  }

  .nk-small-size--1-of-4 {
    width: 25%;
  }

  .nk-small-size--3-of-4 {
    width: 75%;
  }
}


/* medium viewport*/

@media (--medium-viewport) {

  .nk-medium-size--1-of-1 {
    width: 100%;
  }

  .nk-medium-size--1-of-2 {
    width: 50%;
  }

  .nk-medium-size--1-of-3 {
    width: 33.3333333333%;
  }

  .nk-medium-size--2-of-3 {
    width: 66.6666666667%;
  }

  .nk-medium-size--1-of-4 {
    width: 25%;
  }

  .nk-medium-size--3-of-4 {
    width: 75%;
  }
}

@media (--large-viewport) {

  .nk-large-size--1-of-1 {
    width: 100%;
  }

  .nk-large-size--1-of-2 {
    width: 50%;
  }

  .nk-large-size--1-of-3 {
    width: 33.3333333333%;
  }

  .nk-large-size--2-of-3 {
    width: 66.6666666667%;
  }

  .nk-large-size--1-of-4 {
    width: 25%;
  }

  .nk-large-size--3-of-4 {
    width: 75%;
  }
}
