@import "../variables/core-utils";

/*---------------spacing---------------*/

/* spacing helpers
p,m = padding,margin
a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
s,m,l,n = small(var(--small)),medium(var(--medium)),large(var(--large)),none(var(--none))
*/

.nk-ptn,
.nk-pvn,
.nk-pan {
  padding-top: var(--none) !important;
}

.nk-pts,
.nk-pvs,
.nk-pas {
  padding-top: var(--small) !important;
}

.nk-ptm,
.nk-pvm,
.nk-pam {
  padding-top: var(--medium) !important;
}

.nk-ptl,
.nk-pvl,
.nk-pal {
  padding-top: var(--large) !important;
}

.nk-ptx,
.nk-pvx,
.nk-pax {
  padding-top: var(--x-large) !important;
}

.nk-ptxx,
.nk-pvxx,
.nk-paxx {
  padding-top: var(--none) !important;
}

.nk-prn,
.nk-phn,
.nk-pan {
  padding-right: var(--none) !important;
}

.nk-prs,
.nk-phs,
.nk-pas {
  padding-right: var(--small) !important;
}

.nk-prm,
.nk-phm,
.nk-pam {
  padding-right: var(--medium) !important;
}

.nk-prl,
.nk-phl,
.nk-pal {
  padding-right: var(--large) !important;
}

.nk-prx,
.nk-phx,
.nk-pax {
  padding-right: var(--x-large) !important;
}

.nk-pbn,
.nk-pvn,
.nk-pan {
  padding-bottom: var(--none) !important;
}

.nk-pbs,
.nk-pvs,
.nk-pas {
  padding-bottom: var(--small) !important;
}

.nk-pbm,
.nk-pvm,
.nk-pam {
  padding-bottom: var(--medium) !important;
}

.nk-pbl,
.nk-pvl,
.nk-pal {
  padding-bottom: var(--large) !important;
}

.nk-pbx,
.nk-pvx,
.nk-pax {
  padding-bottom: var(--x-large) !important;
}

.nk-pln,
.nk-phn,
.nk-pan {
  padding-left: var(--none) !important;
}

.nk-pls,
.nk-phs,
.nk-pas {
  padding-left: var(--small) !important;
}

.nk-plm,
.nk-phm,
.nk-pam {
  padding-left: var(--medium) !important;
}

.nk-pll,
.nk-phl,
.nk-pal {
  padding-left: var(--large) !important;
}

.nk-plx,
.nk-phx,
.nk-pax {
  padding-left: var(--x-large) !important;
}

.nk-mtn,
.nk-mvn,
.nk-man {
  margin-top: var(--none) !important;
}

.nk-mts,
.nk-mvs,
.nk-mas {
  margin-top: var(--small) !important;
}

.nk-mtm,
.nk-mvm,
.nk-mam {
  margin-top: var(--medium) !important;
}

.nk-mtl,
.nk-mvl,
.nk-mal {
  margin-top: var(--large) !important;
}

.nk-mtx,
.nk-mvx,
.nk-max {
  margin-top: var(--x-large) !important;
}

.nk-mrn,
.nk-mhn,
.nk-man {
  margin-right: var(--none) !important;
}

.nk-mrs,
.nk-mhs,
.nk-mas,
ul.nk-mrs li {
  margin-right: var(--small) !important;
}

.nk-mrm,
.nk-mhm,
.nk-mam {
  margin-right: var(--medium) !important;
}

.nk-mrl,
.nk-mhl,
.nk-mal,
ul.nk-mrl li {
  margin-right: var(--large) !important;
}

.nk-mbn,
.nk-mvn,
.nk-man {
  margin-bottom: var(--none) !important;
}

.nk-mbs,
.nk-mvs,
.nk-mas {
  margin-bottom: var(--small) !important;
}

.nk-mbm,
.nk-mvm,
.nk-mam {
  margin-bottom: var(--medium) !important;
}

.nk-mbl,
.nk-mvl,
.nk-mal {
  margin-bottom: var(--large) !important;
}

.nk-mbx,
.nk-mvx,
.nk-max {
  margin-bottom: var(--x-large) !important;
}

.nk-mln,
.nk-mhn,
.nk-man {
  margin-left: var(--none) !important;
}

.nk-mls,
.nk-mhs,
.nk-mas {
  margin-left: var(--small) !important;
}

.nk-mlm,
.nk-mhm,
.nk-mam {
  margin-left: var(--medium) !important;
}

.nk-mll,
.nk-mhl,
.nk-mal {
  margin-left: var(--large) !important;
}

.nk-mtxl,
.nk-maxl {
  margin-top: var(--x-large) !important;
}

.nk-mtxxl,
.nk-maxxl {
  margin-top: 8var (--none) !important;
}
