@import "../variables/core-utils";

.nk-hidden {
  display: none !important;
}

.nk-d-block {
  display: block;
}

.nk-display--inline {
  display: inline;
}

.nk-position--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.nk-position--absolute {
  position: absolute;
}

.nk-text-align--left {
  text-align: left;
}

.nk-text-align--right {
  text-align: right;
}

.nk-text-align--center {
  text-align: center;
}

.nk-smooth-scroll {
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100vh;
}

.nk-overflow--hidden {
  overflow: hidden; 
}

.nk-height-fullpage {
  min-height: 100vh;
}

.nk-float-right {
  float: right;
}

.nk-float-left {
  float: left;
}

.nk-text-color {
  color: var(--color);
}

.nk-text-color--secondary {
  color: var(--color-torch-red);
}

.nk-text-color--third {
  color: var(--color-steel-blue);
}

.nk-text-color--neutral {
  color: var(--color--k-5);
}

.nk-text--strong {
  font-weight: bold;
  color: var(--color-black);

  .nk-theme--dark & {
    color: white;
  }
}

.nk-is-active {
}

.nk-is-hidden {
  display: none !important;
}

.nk-is-hidden--min-medium {
  @media (--min-medium-viewport) {
    display: none !important;
  }
}

.nk-is-hidden--min-small {
  @media (--min-small-viewport) {
    display: none !important;
  }
}

.nk-align--right {
  display: flex;
  justify-content: flex-end;
  text-align: right;

  &.nk-form-element__row,
  &.nk-form-element--inline {
    justify-content: flex-end;
  }
}

.nk-align--center {
  display: flex;
  justify-content: center;
  text-align: center;

  @media (--small-viewport) {
    align-items: center;
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.nk-is-stacable--small {
  @media (--small-viewport) {
    flex-direction: column;
    align-items: flex-start;
    height: inherit;

    &.nk-grid {
      flex-wrap: wrap;
    }
  }
}

.nk-is-stacable--medium {
  @media (--medium-viewport) {
    flex-direction: column;
    align-items: flex-start;
    height: inherit;

    &.nk-grid {
      flex-wrap: wrap;
    }
  }
}

.nk-is-wrappable--medium {
  @media (--medium-viewport) {
    flex-wrap: wrap;
  }
}

.nk-has-select {
  &:before {
    position: absolute;
    right: 10px;
    bottom: 15px;
    color: var(--color);
    content: "\e904";
  }

  &:hover {
    &:before {
      color: var(--color--complementary);
    }
  }
}

.nk-image-mask--gradient {
  mask-image: linear-gradient(0, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
  mask-repeat: space;
}

.nk-has-bg-image--gradient {
  background: linear-gradient(
      45deg,
      rgba(235, 235, 235, 1) 44%,
      rgba(235, 235, 235, 0) 100%
    ),
    url();
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}

.nk-has-bg-image {
}

.std:empty {
  display: none;
}

/*---------------background colors---------------*/

.nk-bg-color--neutral {
  background: var(--background-color);
}

/*---------------widths---------------*/

.nk-width-input--inline {
  width: var(--width-input--inline);
}

.nk-obj-fit--contain {
  width: 100%;
  object-fit: contain;
}

.nk-object-fit--cover {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (--medium) {
  .nk-object-fit--cover\@md {
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}