<article id="avatar" class="">
  <div class="nk-position--sticky nk-bg--opaque">
    <div class="nk-toolbar nk-container--content">
      <h2 class="nk-heading--2">Avatar</h2>
      <button class="nk-js-button--avatar nk-button nk-toolbar__item--right">Code</button>
    </div>
  </div>
  <div class="nk-overflow--hidden">
    <pre class="nk-js--avatar nk-doc--code"><code>
      &lt;img class="nk-avatar--small" src="..." alt=""&gt;
      &lt;img class="nk-avatar" src="..." alt=""&gt;
      &lt;img class="nk-avatar--large" src="..." alt=""&gt;
      
    </code>
    </pre>
  </div>
  <div class="nk-grid@md nk-grid-3 nk-align-items--center nk-container--content">
    <div class="nk-card--center nk-card--block-center nk-align-items--end">
      <img class="nk-avatar--small nk-card__image" src="../assets/img/nk-avatar.jpg" alt="">
      <span>.nk-avatar--small</span>
    </div>
    <div class="nk-card--center nk-card--block-center nk-align-items--end">
      <img class="nk-avatar nk-card__image" src="../assets/img/nk-avatar.jpg" alt="">
      <span>.nk-avatar, .nk-avatar--medium</span>
    </div>
    <div class="nk-card--center nk-card--block-center nk-align-items--end">
      <img class="nk-avatar--large nk-card__image" src="../assets/img/nk-avatar.jpg" alt="">
      <span>.nk-avatar--large</span>
    </div>
  </div>
</article>