<article id="avatar" class="">
  <div class="nk-position--sticky nk-bg--opaque">
    <div class="nk-toolbar nk-container--content">
      <h2 class="nk-heading--2">Avatar</h2>
      <button class="nk-js-button--avatar nk-button nk-toolbar__item--right">Code</button>
    </div>
  </div>
  <div class="nk-overflow--hidden">
    <pre class="nk-js--avatar nk-doc--code"><code>
      &lt;img class="nk-avatar--small" src="..." alt=""&gt;
      &lt;img class="nk-avatar" src="..." alt=""&gt;
      &lt;img class="nk-avatar--large" src="..." alt=""&gt;

    </code>
    </pre>
  </div>
  <div class="nk-flex@md nk-justify-content--center nk-align-items--center nk-container--content">
    <img class="nk-avatar--small" src="assets/img/nk-avatar.jpg" alt="">
    <img class="nk-avatar" src="assets/img/nk-avatar.jpg" alt="">
    <img class="nk-avatar--large" src="assets/img/nk-avatar.jpg" alt="">
  </div>
</article>