<article id="dimmer" class="nk-height-fullpage">
  <div class="nk-position--sticky nk-bg--opaque">
    <div class="nk-toolbar nk-container--content">
      <h2 class="nk-heading--2">Dimmer</h2>
      <button class="nk-js-button--dimmer nk-button nk-toolbar__item--right">Code</button>
    </div>
  </div>
  <div class="nk-overflow--hidden">
    <pre class="nk-js--dimmer nk-doc--code"><code>
      &lt;img class="nk-dimmer--small" src="..." alt=""&gt;

    </code>
    </pre>
  </div>
 <div class="nk-dimmer"></div>
</article>

<script>
const buttondimmer = document.querySelector(".nk-js-button--dimmer");
const codedimmer = document.querySelector(".nk-js--dimmer");
buttondimmer.onclick = () => codedimmer.classList.toggle("show");
</script>