<!DOCTYPE html>
<html lang="en">

<head>
  @@include('../head.html',
  {
  "title": "Components"
  })
</head>

<body>
  @@include('../navigation.html',
  {
  "webRoot": ".."
  })

  @@include('../../templates/cover.html',
  {
  "title":"Components",
  "id":"components",
  "bgColor":"nk-bg--color"
  }
  )

  @@include('avatar.html')
  @@include('badge.html')
  @@include('card.html')
  @@include('cover.html')
  @@include('dimmer.html')
  @@include('drawer.html')
  @@include('gallery.html')
  @@include('heading.html')
  @@include('list.html')
  @@include('loader.html')
  @@include('modal.html')
  @@include('button.html')
  @@include('timeline.html')
  @@include('slider.html')

  @@include('../footer.html')
</body>

</html>