<article id="menu" class="nk-section nk-container--content">
  <h2 class="nk-heading--2 nk-position--sticky nk-bg--opaque">Menu</h2>
  <h3 class="nk-heading--3">.nk-menu</h3>
  <div class="nk-grid nk-grid-2">
    <ul class="nk-menu">
      <li class="nk-menu__item"><a class="nk-menu__link" href="">Badira galdera batzuk</a></li>
      <li class="nk-menu__item"><a class="nk-menu__link" href="">Ustegabean</a></li>
      <li class="nk-menu__item"><a class="nk-menu__link" href="">Sortzen zaizkizunak</a></li>
      <li class="nk-menu__item"><a class="nk-menu__link" href="">Ez dute zentzu</a></li>
    </ul>
  </div>
  <h3 class="nk-heading--3">.nk-menu--row</h3>
  <ul class="nk-menu--row">
    <li class="nk-menu__item"><a class="nk-menu__link" href="">Badira galdera batzuk</a></li>
    <li class="nk-menu__item"><a class="nk-menu__link" href="">Ustegabean</a></li>
    <li class="nk-menu__item"><a class="nk-menu__link" href="">Sortzen zaizkizunak</a></li>
    <li class="nk-menu__item"><a class="nk-menu__link" href="">Ez dute zentzu</a></li>
  </ul>
</article>