<article id="template" class="">
  <div class="nk-position--sticky nk-bg--opaque">
    <div class="nk-toolbar nk-container--content">
      <h2 class="nk-heading--2">template</h2>
      <button class="nk-js-button--template nk-button nk-toolbar__item--right">Code</button>
    </div>
  </div>
  <div class="nk-overflow--hidden">
    <pre class="nk-js--template nk-doc--code"><code>
      &lt;img class="nk-template--small" src="..." alt=""&gt;

    </code>
    </pre>
  </div>
 ...
</article>

<script>
const buttonTemplate = document.querySelector(".nk-js-button--template");
const codeTemplate = document.querySelector(".nk-js--template");
buttonTemplate.onclick = () => codeTemplate.classList.toggle("show");
</script>