.nk-blend--multiply {
  mix-blend-mode: multiply;
}

.nk-blend--screen {
  mix-blend-mode: screen;
}

.nk-blend--overlay {
  mix-blend-mode: overlay;
}

.nk-blend--darken {
  mix-blend-mode: darken;
}

.nk-blend--lighten {
  mix-blend-mode: lighten;
}

.nk-blend--color-dodge {
  mix-blend-mode: color-dodge;
}

.nk-blend--color-burn {
  mix-blend-mode: color-burn;
}

.nk-blend--hard-light {
  mix-blend-mode: hard-light;
}

.nk-blend--soft-light {
  mix-blend-mode: soft-light;
}

.nk-blend--difference {
  mix-blend-mode: difference;
}

.nk-blend--exclusion {
  mix-blend-mode: exclusion;
}

.nk-blend--hue {
  mix-blend-mode: hue;
}

.nk-blend--saturation {
  mix-blend-mode: saturation;
}

.nk-blend--color {
  mix-blend-mode: color;
}

.nk-blend--luminosity {
  mix-blend-mode: luminosity;
}
