.nk-gradient-1 {
  background: linear-gradient(
    135deg,
    var(--color--m) 0%,
    var(--color--y) 35%,
    var(--color--c) 100%
  );
}

.nk-gradient-2 {
  background: linear-gradient(135deg, var(--color--m) 0%, var(--color--y) 100%);
}

.nk-gradient-3 {
  background: linear-gradient(135deg, var(--color--m) 0%, var(--color--c) 100%);
}

.nk-gradient-4 {
  background: linear-gradient(
    135deg,
    var(--color--m) 0%,
    var(--color--secondary) 100%
  );
}

.nk-gradient-5 {
  background: linear-gradient(
    135deg,
    var(--color--c) 0%,
    var(--color--secondary) 100%
  );
}

.nk-gradient-6 {
  background: linear-gradient(135deg, var(--color--c) 0%, var(--color--y) 100%);
}

.nk-gradient-7 {
  background: linear-gradient(
    135deg,
    var(--color--y) 0%,
    var(--color--secondary) 100%
  );
}

.nk-gradient-8 {
  background: linear-gradient(
    135deg,
    var(--color--secondary) 0%,
    var(--color--k-10) 100%
  );
}
