/*---------------header---------------*/
@import "../variables/required-utils";

.nak-header {
    display: flex;
    align-items: center;
    padding: var(--margin-header);
}

.nak-logo {
    display: flex;
    align-items: center;
}

.nak-logo__svg {
    margin-right: var(--small);
    max-width: 100%;
    width: var(--width-logo)
}
