/*----------------Custom variables---------------------*/
@import "../variables/required-utils";


:root {
    --page-title__color: var(--color-opaque);
    --page-title__font-size: 3em;
    --page-title__background:  var(--color-wildsand);
    --section-title__color: var(--color-azure);
    --section-title__font-size: 2em;
    --section-title__background:  var(--color-wildsand);
    --text-title__color: var(--color-azure);
    --text-title__font-size: 1.5em;
    --text-title__background:  var(--color-wildsand);
    --heading-1__font-size:  3rem;
    --heading-2__font-size: 2.5rem;
    --heading-3__font-size: 2.2rem;
    --heading-4__font-size: 1.8rem;
    --heading-5__font-size: 1.6rem;
    --heading-6__font-size: 1.4rem;
}

/*----------------@mixin---------------------*/


@define-mixin nak-page-title $color:var(--page-title__color), $font-size:var(--page-title__font-size) {
    color: var(--page-title__color);
    font-weight: bold;
    font-size: var(--page-title__font-size);

    a {
        color: var(--page-title__color);
    }
}
@define-mixin nak-section-title $color:var(--section-title__color), $font-size:var(--section-title__font-size) {
    color: var(--section-title__color);
    font-weight: bold;
    font-size: var(--section-title__font-size);

    a {
        color: var(--section-title__color);
    }
}

@define-mixin nak-text-title $color:var(--text-title__color), $font-size:var(--text-title__font-size) {
    color: var(--text-title__color);
    font-weight: bold;
    font-size: var(--text-title__font-size);

    a {
        color: var(--text-title__color);
    }
}

/*----------------If you need OOCSS---------------------*/

.nak-text-title {
    @mixin nak-text-title;
}

.nak-text-title--has-icon {}

.nak-page-title {
    @mixin nak-page-title;
}

.nak-section-title {
    @mixin nak-section-title;
}
.nak-heading-1{
  font-size:var(--heading-1__font-size) ;
}

/*-------------------------------------*/
