/*---------------header---------------*/

.nak-header {
    padding: var(--margin-header);
    display: flex;
    align-items: center;
}

.nak-logo {
    display: flex;
    align-items: center;
}

.nak-logo__svg {
    margin-right: var(--small);
    width: var(--width-logo);
    max-width: 100%
}
