/*---------------link---------------*/
@import "../utils/required-utils";

a {
    color: var(--link-color);
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: var(--theme-color);
    }
}

.nak-link {}

.nak-link--naked {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.nak-link--neutral {
    color: var(--text-color);
    text-decoration: none;

    span {
        color: currentColor;
    }
    &:hover {
        text-decoration: none;
    }
}

.nak-link--negative {
    color: var(--color-link--negativo);

    &:hover {
        color: var(--color-link--negativo-hover);
    }
}

.nak-has-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    [class*="ii-icon"] {
        margin-right: 5px;
        color: var(--color-dark);
    }
    &:hover {
        [class*="ii-icon"] {
            color: var(--color-opaque);
        }
    }
}

.nak-menu-link--color {
    color: var(--theme-color);
    text-decoration: none;

    &:hover {
        text-decoration: none;

        [class*="ii-icon"] {
            color: var(--theme-third-color);
        }
    }
    [class*="ii-icon"] {
        color: var(--theme-color);
    }
}

.icon-position-center {
    display: flex;
    align-items: center;

    span {
        margin-left: var(--medium);
        text-decoration: none;
    }
}
