/*---------------nav---------------*/
@import "../utils/required-utils";

.nak-navigation-list--vertical {
    padding: var(--medium);
    border: 10px solid var(--color-bare);

    h2 {
        margin: 0;
        padding-bottom: 10px;
        border-bottom: 5px solid var(--color-bare);
    }
    li {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

        a {
            color: var(--text-color);
            text-decoration: none;

            &:hover{
              color:var(--theme-color);
            }
        }
        span:before {
            color:var(--theme-color);
            content: "\e902";
        }
    }
    strong{
      color:var(--theme-color);
    }
}
