.nak-tab-list {
    display: flex;
}

.nak-tab-item {
  + .nak-tab-item{
      &:hover {
        box-shadow:  -1px 0px 0px var(--dark);
    }
  }
}

.nak-tab-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    color: var(--text-color--light);
    text-decoration: none;
    font-size: 18px;

    .nak-is-active &, &:hover {
        background: var(--background-color);
        box-shadow: 0px -3px 0px var(--color);
        color: var(--text-color);
        text-decoration: none;
    }
}
