@import "tokens--color";
:root {
    /*---------------fonts---------------*/
    --base-font: 'Lato', sans-serif;
    --input-font: 'MyriadPro', sans-serif;
    --code-font: 'MyriadPro', sans-serif;
    /*---------------sizes---------------*/
    --page-width: 1170px;
    /*----*/
    --none: 0;
    /*2px;*/
    --xxx-small: 0.125rem;
    /*4px*/
    --xx-small: 0.25rem;
    /*8px*/
    --x-small: 0.5rem;
    /*12px*/
    --small: 0.75rem;
    /*16px*/
    --medium: 1rem;
    /*20px*/
    --large: 1.25rem;
    /*24px*/
    --x-large: 1.5rem;
    /*28px*/
    --xx-large: 1.75rem;
    /*32px*/
    --xxx-large: 2rem;
    /*48px*/
    --xxxx-large: 3rem;
    /*---------------spacing tokens---------------*/
    /*10px*/
    --spacing-small: 0.70rem;
    /*20px*/
    --spacing-medium: 1.25rem;
    /*40px*/
    --spacing-large: 2.5rem;
    /*60px*/
    --spacing-x-large: 3.75rem;
    /*---------------breakpoints tokens---------------*/
    --bp-small: 500px;
    --bp-medium: 800px;
    --bp-large: 1170px;
    --bp-page: 1170px;


}


/*---------------breakpoints---------------*/

@custom-media --small-viewport (max-width: 500px);
@custom-media --min-small-viewport (min-width: 500px);
@custom-media --medium-viewport (max-width: 800px);
@custom-media --min-medium-viewport (min-width: 800px);
@custom-media --page-viewport (max-width: 1170px);
@custom-media --page-viewport--spacing (max-width: 1266px);
@custom-media --min-page-viewport (min-width: 1170px);
@custom-media --large-viewport (max-width: 1170px);
@custom-media --min-large-viewport (min-width: 1170px);
@custom-media --min-x-large-viewport (min-width: 1400px);
