  /*!---------------Font size tokens---------------*/
  :root{
    --font-size--x-small: 0.5rem;    /*!8px*/
    --font-size--small: 0.75rem;    /*!12px*/
    --font-size--medium: 1rem;    /*!16px*/
    --font-size--large: 1.25rem;    /*!20px*/
    --font-size--x-large: 1.5rem;    /*!24px*/
    --font-size--xx-large: 1.75rem;    /*!28px*/
    --font-size--xxx-large: 2rem;    /*!32px*/
    --font-size--xxxx-large: 3rem;    /*!48px*/
  }
