@import "../../src/variables/core-utils";

.nk-logo__svg {
  /* width: 100px;
  height: 100px; */
}

.nk-doc-bg {
  background: var(--background-color);
}

.nk-doc-border {
  border: 1px dashed var(--color-neutral);
}

.nk-bg--image {
  background-image: url(../assets/img/randomMatches_142.jpg);
  background-size: cover;
}