:root {
  --none: 0;
  --x-small: 0.25rem; /* 4px */
  --small: 0.5rem; /* 8px */
  --medium: 1rem; /* 16px */
  --large: 2rem; /* 32px */
  --x-large: 3rem; /* 48px */
  --huge: 4rem; /* 64px */
  --x-huge: 6rem; /* 96px */
}
