<article id="container" class="nk-section">
  <div class="nk-container nk-position--sticky nk-bg--opaque">
    <h2 class="nk-heading--2">Containers</h2>
  </div>
  <div class="nk-container nk-mtx">
    <h3 class="nk-heading--3">.nk-container</h3>
    <p class="nk-mbl">Horizontal padding for fullpage sections.</p>
  </div>
  <p class="nk-container nk-bg--k-9">
    @@include('../../templates/lorem.html')
  </p>
  <div class="nk-container--content nk-mtx">
    <h3 class="nk-heading--3">.nk-container--content</h3>
    <p class="nk-mbl">
      Horizontal padding for generic content.
    </p>
  </div>
  <p class="nk-container--content nk-bg--k-9">
    @@include('../../templates/lorem.html')
  </p>
  </div>
  <div class="nk-container--text nk-mtx">
    <h3 class="nk-heading--3">.nk-container--text</h3>
    <p class="nk-mbl">
      Horizontal padding for readable column width. Use it for you blog posts, for example.
    </p>

  </div>
  <p class="nk-container--text nk-bg--k-9">
    @@include('../../templates/lorem.html')
  </p>
  <div class="nk-container">
    <h3 class="nk-heading--3">.nk-section</h3>
    <p class="nk-mbl">Vertical padding for sections.</p>
  </div>
  <div class="nk-section nk-bg--k-9">
    @@include('../../templates/lorem.html')
  </div>
</article>