<!DOCTYPE html>
<html lang="en">

<head>
    @@include('../../templates/head.html',
    {
    "title": "Layout"
    })

</head>

<body>
    @@include('../../templates/navigation.html')

    @@include('../../templates/cover.html',
    {
    "title":"Layout",
    "id":"layout",
    "bgColor":"nk-bg--y"
    }
    )

    @@include('./patterns.html')
    @@include('./container.html')
    @@include('./flex.html')
    @@include('./grid.html')

    @@include('../../templates/footer.html')
</body>

</html>