<article id="patterns" class="nk-cover nk-bg--k-7">
  <h1 class="nk-cover__title nk-position--sticky">Patterns</h1>
</article>
<div>
  <div class="nk-container nk-position--sticky nk-bg--opaque">
    <h2 class="nk-heading--2">Sidebar</h2>
  </div>
  <div class="nk-container">
    <h3 class="nk-heading--3">Default</h3>
  </div>
  <article class="nk-layout--sidebar">
    <div class="nk-layout__main nk-bg--k-8">
      @@include('../../templates/lorem.html')
    </div>
    <div class="nk-layout__aside nk-bg--k-6">
      @@include('../../templates/dummy-list.html')
    </div>

  </article>
  <div class="nk-container--content">
    <h3 class="nk-heading--3">Inside a container</h3>
  </div>
  <article class="nk-layout--sidebar nk-container--content">
    <div class="nk-layout__main nk-bg--k-8">
      @@include('../../templates/lorem.html')
    </div>
    <div class="nk-layout__aside nk-bg--k-6">
      @@include('../../templates/dummy-list.html')
    </div>
  </article>
  <h3 class="nk-heading--3">Right</h3>
  <article class="nk-layout--sidebar-right">
    <div class="nk-layout__main nk-bg--k-8">
      @@include('../../templates/lorem.html')
    </div>
    <div class="nk-layout__aside nk-bg--k-6">
      @@include('../../templates/dummy-list.html')
    </div>
  </article>
</div>
<div>
  <div class="nk-container nk-position--sticky nk-bg--opaque">
    <h2 class="nk-heading--2">Sidebar double</h2>
  </div>
  <article class="nk-layout--sidebar-double">
    <div class="nk-layout__main nk-bg--k-8">
      @@include('../../templates/lorem.html')
    </div>
    <div class="nk-layout__aside nk-bg--k-6">
      @@include('../../templates/dummy-list.html')
    </div>
    <aside class="nk-layout__aside nk-bg--k-6">
      @@include('../../templates/lorem.html')
    </aside>
  </article>
</div>
<div>
  <div class="nk-container nk-position--sticky nk-bg--opaque">
    <h2 class="nk-heading--2">Double</h2>
  </div>
  <article class="nk-layout--double">
    <div class="nk-layout__main nk-bg--k-8">
      @@include('../../templates/lorem.html')
    </div>
    <div class="nk-layout__main nk-bg--k-6">
      @@include('../../templates/lorem.html')
    </div>
  </article>
</div>