@import "../variables/core-utils";

:root {
  --box__min-width: 100px;
  --box__padding: var(--spacer-small) var(--spacer-medium);
  --box__height: var(--spacer-large);
  --box__border-width: 1px;
  --box__border-style: solid;
  --box__border-color: var(--color-barer);
  --box__background: var(--color-bare);
  --box__color: var(--text-color);
  --box__font-size: var(--large);
  --box__font: var(--base-font);
  --box__border-radius: var(--xxx-small);
}


.nk-box {
  min-width: var(--box__min-width);
  min-height: var(--box__height);
  background: var(--box__background);
}

.nk-box__image {
  width: 100%;
  height: 30%;
  object-fit: cover;
  
}

.nk-box__body {
padding: var(--spacer-medium);
}

.nk-box--center {
   min-width: var(--box__min-width);
  min-height: var(--box__height);
  padding: var(--box__padding);
  font-size: var(--box__font-size);
  color: var(--box__color);
  background: var(--box__background);
  border: var(--box__border-width) var(--box__border-style) var(--box__border-color);
  border-radius: var(--box__border-radius);
  align-items: center;
  justify-content: center;
}

.nk-box--right {
   min-width: var(--box__min-width);
  min-height: var(--box__height);
  padding: var(--box__padding);
  font-size: var(--box__font-size);
  color: var(--box__color);
  background: var(--box__background);
  border: var(--box__border-width) var(--box__border-style) var(--box__border-color);
  border-radius: var(--box__border-radius);
  align-items: center;
  justify-content: flex-end;
}
