@import "../variables/core-utils";

.nk-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "lato";
  font-size: var(--button__font-size);
  color: var(--color);
  text-decoration: none !important;
  background: transparent;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid var(--color);
  padding: var(--spacer-small) var(--spacer-medium);

  &:hover {
    color: var(--color-bare);
    background: var(--color);
    transition: 0.5s;
  }
}

.nk-button--color {
  color: var(--color-bare);
  background: var(--color);

  &:hover {
    background: var(--color--hover);
  }
}

.nk-button--disabled {
  color: var(--color-neutral);
  border: 1px solid var(--color-neutral);
  cursor: default;

  &:hover {
    background: var(--color--neutral);
  }
}

.nk-button--icon {
  border: 0;
  background: none;
  border-radius: 500rem;
  width: 48px;
  height: 48px;
  padding: var(--spacer-smal);

  &:hover {
    & [class^="nk-icon"] {
      fill: white;
    }
  }
}
