/*! ---------------button---------------*/

@import "../variables/core-utils";

/*----------------Custom variables---------------------*/

:root {
  /*--default*/
  --button__min-width: 100px;
  --button__height: var(--spacing-large);
  --button__border-width: 1px;
  --button__border-style: solid;
  --button__border-color: var(--color);
  --button__background: var(--color);
  --button__color: var(--text-color);
  --button__font-size: var(--large);
  --button__font: var(--base-font);
  --button__border-radius: var(--x-small);

  /*--hover*/
  --button__background--hover: ;
  --button__color--hover: ;

  /*--neutral*/
  --button__color--neutral: var(--text-color);
  --button__background--neutral: var(--color-pale);
  --button__border-width--neutral: 1px;
  --button__border-style--neutral: solid;
  --button__border-color--neutral: var(--color-neutral);

  /*--negative*/
  --button__color--negative: var(--text-color--light);
  --button__background--negative: var(--color-cod-gray);
  --button__border-width--negative: 1px;
  --button__border-style--negative: solid;
  --button__border-color--negative: var(--color-mine-shaft);

  /*icon*/

  /*----------------@apply---------------------*/
  --nak-button: {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--button__min-width);
    height: var(--button__height);
    font-family: var(--button__font);
    font-size: var(--button__font-size);
    color: var(--button__color);
    text-decoration: none !important;
    cursor: pointer;
    background: var(--button__background);
    border: var(--button__border-width) var(--button__border-style) var(--button__border-color);
    border-radius: var(--button__border-radius);

    @media (--small-viewport) {
      width: 100%;
    }

    &:hover {
      color: var(--button__color--hover);
      background: var(--button__background--hover);
    }

    &:focus {
      color: var(--color-white);
      background: var(--color);
    }
  };
  --nak-button--neutral: {
    background: var(--button__background--neutral);
    border: var(--button__border-width--neutral) var(--button__border-style--neutral) var(--button__border-color--neutral);
    border-color: var(--button__border-color--neutral);
  };
  --nak-button--negative: {
    background: var(--button__background--negative);
    border: var(--button__border-width--negative) var(--button__border-style--negative) var(--button__border-color--negative);
    border-color: var(--button__border-color--negative);
  };
  --nak-button--disabled: {}
  --nak-button--big: {
    height: inherit;
    padding: var(--medium);
  };
  --nak-button--icon-left: {

    img {
      width: 30px;
      margin-right: 10px;
      color: red;
    }
  }
}
