@import "../variables/core-utils";


.nk-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: lato;
  font-size: var(--button__font-size);
  color: var(--color-bare);
  text-decoration: none !important;
  cursor: pointer;
  background: var(--color);
  border-radius: 3px;
  border:0;
  padding: var(--spacer-small) var(--spacer-medium);
}
