.nk-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-attachment: fixed;
}

.nk-cover__title {
  font-size: 6em;
  text-shadow: 4px 4px 16px var(--color--k-2);
}

.nk-cover__subtitle {
  font-size: 3em;
  text-shadow: 4px 4px 8px var(--color--k-2);
}