/*---------------form---------------*/
@import "../variables/core-utils";

.nk-form {
  /*@mixin large-spacing;*/
}

.nk-form--search {
  background: var(--background-color);

  .nk-form-element__row {
    max-width: inherit;
  }
}

.nk-form-element {
  /*@apply --form-element;*/
}

.nk-form-element--inline {
  /*@apply --form-element--inline;*/
  @media (--min-small-viewport) {

    .nk-form-element__label {
      width: var(--width-label--inline);
    }

    .nk-input, .nk-select {
      width: var(--width-input--inline);
    }
  }
}

.nk-form-element__group {}

.nk-form-element__row {
  display: flex;
  align-items: center;
  max-width: var(--width-form-element);
  min-height: 40px;

  @media (--small-viewport) {
    flex-direction: column;
  }
}

.nk-form-element__row--extended {
  align-items: center;
  justify-content: space-between;
}

.nk-form-element__row--left {
  justify-content: flex-start;
}

.nk-form-element--center {
  justify-content: center;
  text-align: center;
}

.nk-form-element__row--top {
  align-items: flex-start;
}

.nk-form--compound {
  padding: var(--large);

  @media (--min-medium-viewport) {

    .nk-form-element+.nk-form-element, .nk-form-element--inline+.nk-form-element--inline, {
      padding-left: var(--large);
    }
  }
}

.nk-form-element__label {
  /*@apply --label;*/

  .nk-form-element--inline & {
    padding: 0 10px;

    @media (--small-viewport) {
      padding: 0;
    }
  }

  .nk-is-stacable--medium & {
    align-self: flex-start;
    width: 60%;
  }

  &.nk-has-bgcolor {
    background: var(--color-k--5);

    @media (--small-viewport) {
      background: none;
    }
  }
}

.nk-input--naked {
  background: none;
  border: 0;
}
