@import "../variables/core-utils";

.nak-heading-1 {
  font-size: var(--heading-1__font-size);
}

.nak-heading-2 {
  font-size: var(--heading-2__font-size);
}

.nak-heading-3 {
  font-size: var(--heading-3__font-size);
}

.nak-heading-4 {
  font-size: var(--heading-4__font-size);
}

.nak-heading-5 {
  font-size: var(--heading-5__font-size);
}

.nak-heading-6 {
  font-size: var(--heading-6__font-size);
}
