@import "../variables/core-utils";

.nk-icon {
  width: 32px;
}

.nk-icon--large {
  width: 48px;
}

.nk-has-border{
  padding: 5px;
  border:3px solid var(--color-third);
  border-radius: 500rem;
}

.nk-has-icon--right{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nk-theme--dark [class^="nk-icon"] {
  fill: #ffffff;
}
