@import "../tokens/tokens--color.css";



.nk-link--naked {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.nk-link--neutral {
  color: var(--text-color);
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
