@import "../tokens/tokens--color";

a {
  color: var(--color);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: var(--color--darker);
  }
}

.nk-link--naked {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.nk-link--neutral {
  color: var(--text-color);
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
