/*---------------list---------------*/
@import "../variables/core-utils";

/*----------------Custom variables---------------------*/


/*----------------@mixin---------------------*/


/*----------------If you need OOCSS---------------------*/

.nk-l-list{}

.nk-l-list--dotted{
  list-style: inherit;
  list-style-position: inside;
}

.nk-l-list--horizontal{
  display: flex;
}

.nk-l-list--board{}

/*-------------------------------------*/
