/*---------------pill---------------*/
@import "../variables/core-utils";

.nk-pill_container {
  margin: var(--medium) 0;
}

.nk-pill {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  min-height: 1.625rem;
  padding: 3px 5px;
  background-color: #fff;
  border: 1px solid #d8dde6;
  border-radius: .25rem;

  a{
    color:var(--text-color);
    text-decoration: none
  }
}
