@import "base/reset";

@import "tokens/tokens";
@import "variables/custom-properties";
/* @import "variables/mixin"; */

@import "base/typography";
@import "base/default";

@import "components/avatar";
@import "components/badge";
@import "components/button";
@import "components/cover";
@import "components/dimmer";
@import "components/drawer";
@import "components/header";
@import "components/heading";
@import "components/card";
@import "components/nav";
@import "components/breadcrumb";
@import "components/gallery"; 
@import "components/loading";
@import "components/menu";
@import "components/modal";
@import "components/icon";
@import "components/form";
@import "components/link";
@import "components/list";
@import "components/paginate";
@import "components/toolbar";
@import "components/footer";
@import "components/slider";
@import "components/table";
@import "components/timeline";
@import "components/tooltip";
@import "components/tab";
@import "components/theme";


@import "layout/layout";
@import "layout/container";
@import "layout/grid";
@import "layout/flex";

@import "styling/hero";
@import "styling/blend";
@import "styling/color";
@import "styling/filters";
@import "styling/shapes";
@import "styling/background";
@import "styling/gradients"; 

@import "utilities/utils";
@import "utilities/sizing";
@import "utilities/spacing";

.nk-notify {
  position: fixed;
  bottom: var(--large);
  right: calc(-1 * var(--large));
  background: var(--color);
  color: white;
  font-size: .8em;
  z-index: 1;
  transform: rotate(-45deg);
  padding: 0 var(--large);
  pointer-events: none;
}