<<<<<<< HEAD:utils/mixin.css
=======

>>>>>>> 5071e6fd6142ac13d308258a6438254c49a508fd:variables/mixin.css
/*----------------@mixin---------------------*/


/*----------------Heading---------------------*/



/*----------------Button---------------------*/
<<<<<<< HEAD:utils/mixin.css
@define mixin nak-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--button__min-width);
    height: var(--button__height);
    border: var(--button__border);
    background: var(--button__background);
    color: var(--button_color);
    text-decoration: none !important;
    text-transform: inherit;
    font-size: var(--button__font-size);
    font-family: var(--button__font);

    @media (--small-viewport) {
        /*@mixin medium-spacing;*/
        width: 100%;
    }

    &:hover {
        background: var(--background-color-button--hover);
        color: var(--color-white);
        text-decoration: none;

        /*opacity: .8;*/
    }
    &.action, &.nak-button--action {
        background: var(--color-second-color);

        @media (--small-viewport) {
            order: 0;
        }

        &:hover {
            background: var(--color-torch-red300);
        }
    }
    &:focus {
        background: var(--color-color);
        color: var(--color-white);
    }
    +.button {
        margin: 0;
    }
}

/*--button--naked: {
    padding: 5px 10px;
    height: 30px;
    border: 1px solid var(--border-color-button--naked);
    color: var(--text-color--light);
    text-decoration: none;
    text-transform: inherit;
    font-size: 14px;

    &:hover {
        background: var(--background-color-button--naked--hover);
    }
}
;
--button--neutral: {
    background: var(--barer);
    color: var(--text-color);

    @media (--small-viewport) {
        order: 1;
    }

    &:hover {
        background: var(--color);
        color: var(--white);

        span {
            &:before {
                color: var(--white);
            }
        }
    }
}
;*/

/*@define-mixin button {
    padding: 12px 50px;
    border: 0;
    background: var(--color);
    color: var(--white);
    text-transform: inherit;
    font-size: 16px;
    font-family: var(--base-font);
}*/
=======


>>>>>>> 5071e6fd6142ac13d308258a6438254c49a508fd:variables/mixin.css

@define-mixin small-spacing {
    margin-top: var(--small);
    margin-bottom: var(--small);
}

@define-mixin medium-spacing {
    margin-top: var(--medium);
    margin-bottom: var(--medium);
}

@define-mixin large-spacing {
    margin-top: var(--large);
    margin-bottom: var(--large);
}

@define-mixin large-heading-spacing {
    margin-top: var(--large);
    margin-bottom: var(--x-large);
}

@define-mixin medium-heading-spacing {
    margin-top: var(--large);
    margin-bottom: var(--large);
}


/*---*/

@define-mixin flex-direction($values) {
    -webkit-flex-direction: $values;
    flex-direction: $values;
}

@define-mixin flex-flow($values) {
    -webkit-flex-flow: $values;
    flex-flow: $values;
}

@define-mixin align-items($values) {
    -webkit-align-items: $values;
    align-items: $values;
}

@define-mixin justify-content($values) {
    -webkit-justify-content: $values;
    justify-content: $values;
}

@define-mixin flex($values) {
    -webkit-flex: $values;
    flex: $values;
}

@define-mixin display-flex() {
    display: -webkit-flex;
    display: flex;
}

@define-mixin display-inline-flex() {
    display: -webkit-inline-flex;
    display: inline-flex;
}
