@import "tokens--color";
@import "tokens--sizing";
@import "tokens--font";

:root {

  /*---------------spacing tokens---------------*/

  /*10px*/
  --spacing-small: .7rem;

  /*20px*/
  --spacing-medium: 1.25rem;

  /*40px*/
  --spacing-large: 2.5rem;

  /*60px*/
  --spacing-x-large: 3.75rem;

  /*---------------breakpoints tokens---------------*/

}
