:root {
  --color--lighter: #d17a9c;
  --color: #c44f7a;
  --color--c: #5ca9ad;
  --color--m: #c44f7a;
  --color--y: #d5ad26;
  --color--darker: #bb2a5c;
  --color--complementary: #5ca9ad;

  --color--k-1: #000;
  --color--k-2: #222;
  --color--k-3: #333;
  --color--k-4: #6f6f6f;
  --color--k-5: #b0b0b0;
  --color--k-6: #d6d6d6;
  --color--k-7: #e5e5e5;
  --color--k-8: #eee;
  --color--k-9: #f5f5f5;
  --color--k-10: #fff;
}

.nk-theme--c {
  --color--lighter: #6db5ba;
  --color: #5ca9ad;
  --color--darker: #529393;
  --color--complementary: #d5ad26;
}

.nk-theme--m {
  --color--lighter: #d17a9c;
  --color: #c44f7a;
  --color--darker: #bb2a5c;
  --color--complementary: #5ca9ad;
}

.nk-theme--y {
  --color--lighter: #e5cc70;
  --color: #d5ad26;
  --color--darker: #c19a2b;
  --color--complementary: #5ca9ad;
}
