:root {
  /*---------------brand tokens---------------*/
  --color: #cd2682;
  --color--hover: #a31563;
  --color-secondary: #ff1821;
  --color-third: #5c91c0;
  --color-fourth: #7a9f34;

  /*---------------tokens---------------*/
  --color-gallery: #ebebeb;
  --color-mercury: #e5e5e5;
  --color-wildsand: #f5f5f5;
  --color-steel-blue: #5c91c0;
  --color-torch-red900: #330406;
  --color-torch-red800: #66090d;
  --color-torch-red700: #990e13;
  --color-torch-red600: #cc131a;
  --color-torch-red: #ff1821;
  --color-torch-red400: #ff464d;
  --color-torch-red300: #ff7479;
  --color-torch-red200: #ffa2a6;
  --color-torch-red100: #ffd0d2;
  --color-barberry: #d6d41b;
  --color-azure: #5c91c0;

  /*---------------greyscale tokens---------------*/
  --color-black: #000;
  --color-cod-gray: #111;
  --color-mine-shaft: #222;
  --color-opaque: #6f6f6f;
  --color-dark: #b0b0b0;
  --color-neutral: #d6d6d6;
  --color-pale: #e5e5e5;
  --color-barer: #eee;
  --color-bare: #f5f5f5;
  --color-white: #fff;
}
