@import "base/reset";

@import "tokens/tokens";
@import "variables/custom-properties";
@import "variables/custom-media";
@import "variables/mixin";

@import "base/typography";
@import "base/default";

@import "components/avatar";
@import "components/badge";
@import "components/button";
@import "components/header";
@import "components/heading";
@import "components/box";
@import "components/nav";
@import "components/breadcrumb";
@import "components/loading";
@import "components/modal";
@import "components/pill";
@import "components/icon";
@import "components/module";
@import "components/search";
@import "components/form";
@import "components/link";
@import "components/list";
@import "components/paginate";
@import "components/toolbar";
@import "components/footer";
@import "components/slider";
@import "components/table";
@import "components/tooltip";
@import "components/tab";
@import "components/theme";
@import "components/wizard";

@import "layout/layout";
@import "layout/grid";
@import "layout/flex";

@import "styling/background";
@import "styling/filters";

@import "utilities/utils";
@import "utilities/sizing";
@import "utilities/spacing";


.nk-notify {
  position: fixed;
  top: 50px;
  right: -50px;
  background: var(--color);
  color: white;
  font-size: .8em;
  z-index: 1;
  transform: rotate(45deg);
  padding: 0 var(--spacer-large);
}