body {
  font-family: var(--base-font);
  font-size: var(--font-size--large);
  color: var(--text-color);
  line-height: 1.58;
}

a {
  color: var(--color);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: var(--color--darker);
  }

  .nk-bg--color & {
    color: var(--color--k-7);

    &:hover {
      color: var(--color--k-10);
    }
  }
}

img {
  max-width: 100%;
}
