@font-face {
  font-family: "lato";
  src: url("../assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "lato-light";
  src: url("../assets/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: "lato-black";
  src: url("../assets/fonts/Lato-Black.ttf");
}

.nak-font--light {
  font-family: lato-light, sans-serif;
}

.nak-font--regular {
  font-family: lato, sans-serif;
}

.nak-font--bold {
  font-family: lato-black, sans-serif;
}

.nak-text--small {
  font-size: 0.9em;
}

.nak-text-size--large {
  font-size: 1.2em;
}

.nak-text-size--huge {
  font-size: 3em;
}

.text {
  font-size: 16px;
}
