.nk-d-flex {
  display: flex;
}

@media --small {
  .nk-d-flex--sm {
    display: flex;
  }
}

.nk-justify-content--start {
  justify-content: start;
}

.nk-justify-content--center {
  justify-content: center;
}

.nk-justify-content--end {
  justify-content: end;
}

.nk-align-items--center {
  align-items: center;
}