/* TODO */
/* Add breakpoints logic to the system */

/* @import "../tokens/tokens--sizing.css"; */
@import "../variables/custom-media.css";

:root {
  --grid-item-top-space: var(--x-small);
  --grid-item-bottom-space: var(--x-small);
}

.nk-grid {
  display: grid;
}

@media (--medium) {
  .nk-grid\@md {
    display: grid;
  }
}

.nk-grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.nk-grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.nk-grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.nk-grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

@media (--medium) {
  .nk-grid-5\@md {
    grid-template-columns: repeat(5, 1fr);
  }
}

.nk-grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

.nk-gap {
  column-gap: var(--spacer-medium);
  row-gap: var(--spacer-medium);
}
