/* TODO */
/* Better approach calc(var(--spacer) * 2) or var(--spacer-medium)? */

/* @import "../tokens/tokens--sizing.css"; */

/* Better naming for this */

.nk-l-2col {
  height: 100vh;

  @media (--medium) {
    display: grid;
    grid-template-columns: 300px 1fr;
  }
}

/* Colors to docs */

.nk-l-2col__sidebar {
  background: var(--color--k-6);
}
.nk-l-2col__main {
  background: var(--color--k-8);
}

.nk-l-3col {
  height: 100vh;
  @media (--medium) {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
  }
}

.nk-l-3col__sidebar {
  background: var(--color--k-6);
}

.nk-l-3col__main {
  background: var(--color--k-8);
}

.nk-l-3col__aside {
  background: var(--color--k-6);
}

.nk-l-double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.nk-l-double__item {
  background: var(--color--k-6);
}

/* TODO: Is this approach good? It is a fullscreen option for an element inside the nk-container. Is it antipattern? */
.nk-fullscreen {
  width: calc(100% + var(--spacer) * 5 + var(--spacer) * 5);
  margin-left: calc(-1 * var(--spacer) * 5);
}
