/* TODO */
/* Better approach calc(var(--spacer) * 2) or var(--spacer-medium)? */

@import "../tokens/tokens--sizing.css";

:root {
  --container--content: 1100px;
  --container--text: 680px;
}

.nk-container {
  width: 100%;
  padding: 0 calc(var(--spacer) * 2);
  margin: auto;

  @media (--medium) {
    padding: 0 calc(var(--spacer) * 5);
  }
}

.nk-container--content {
  width: 100%;
  padding: 0 calc(var(--spacer) * 2);
  margin: auto;
  max-width: var(--container--content);

  @media (--medium) {
    padding: 0 calc(var(--spacer) * 5);
  }
}

.nk-container--text {
  width: 100%;
  padding: 0 calc(var(--spacer) * 2);
  margin: auto;
  max-width: var(--container--text);

  @media (--medium) {
    padding: 0 calc(var(--spacer) * 5);
  }
}

/* TODO: Is this approach good? It is a fullscreen option for an element inside the nk-container. Is it antipattern? */
.nk-fullscreen {
  width: calc(100% + var(--spacer) * 5 + var(--spacer) * 5);
  margin-left: calc(-1 * var(--spacer) * 5);
}

.nk-section {
  padding-top: var(--spacer-medium);
  padding-bottom: var(--spacer-medium);

  @media (--medium) {
    padding-top: var(--spacer-xlarge);
    padding-bottom: var(--spacer-xlarge);
  }
}
