@import "../variables/core-utils";

:root {
  --container--content: 1100px;
  --container--text: 680px;
}

.nk-container {
  width: 100%;
  padding: 0 calc(var(--spacer) * 5);
  margin: auto;
}

.nk-container--content {
  width: 100%;
  padding: 0 calc(var(--spacer) * 5);
  margin: auto;
  max-width: var(--container--content);
}

.nk-container--text {
  width: 100%;
  padding: 0 calc(var(--spacer) * 5);
  margin: auto;
  max-width: var(--container--text);
}

/* TODO: Is this approach good? It is a fullscreen option for an element inside the nk-container. Is it antipattern? */
.nk-fullscreen {
  width: calc(100% + var(--spacer) * 5 + var(--spacer) * 5);
  margin-left: calc(-1 * var(--spacer) * 5);
}

.nk-section {
  padding-top: var(--spacer-xlarge);
  padding-bottom: var(--spacer-xlarge);
}

.nk-page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nk-site-header {
  position: fixed;
  top: 0;
  z-index: 8000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 6rem;
}

.nk-site-main {
  flex: 1 1 auto;
  min-height: 100vh;
  margin-left: 15rem;
}

.nk-site-navigation {
}

.nk-site-navigation--fixed {
  position: fixed;
  top: 6rem;
  bottom: 0;
  width: 15rem;
  padding-top: 0;
  background: pink;
}

.nk-site-footer {
}

.nk-site-content {
  min-height: calc(100vh - 6rem);
}

.nk-page-container {
  /*@apply --spacing-page;*/
}

.nk-row {
  display: flex;
}

.nk-row--center {
  display: flex;
  justify-content: center;
}

.nk-row--expanded {
  /*@apply --row--expanded;*/
}

.nk-row--centered {
  /*@apply --row--centered;*/
}

.nk-display--column {
  display: flex;
  flex-direction: column;
}
